
 {% include 'adminheader.html' %}

 <section style="background: url(/static/images/m2.jpg) center center no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: #cfcfcf;height: 900px;
        margin-top:80px;" id="home">
       <div class="overlay">
           <div class="container">
               <div class="row">
                   <div class="main-heading-content col-md-12 col-sm-12 text-center">
        <h1 class="main-heading-title">WELCOME TO  <span class="main-element themecolor" data-elements="ADMIN'S HOME,HOME,HOME"></span></h1>
        <p class="main-heading-text">Ask a doctor online and get quick medical advice for your health queries.</p>
        <div class="btn-bar">
          <!-- <a href="#" class="btn btn-custom theme_background_color">Get Started</a>
          <a href="#" class="btn btn-custom-outline">Contact Us</a>
        </div> -->
      </div>
               </div>
           </div>
           <br><br>

       </div>  
      
   </section>




{% include 'footer.html' %}