{% include 'shopheader.html' %}

   <section style="background: url(/static/images/m1.jpg) center center no-repeat;
  background-size:cover;
  background-attachment: fixed;
  color: #cfcfcf;height: auto;
        margin-top:80px;" id="home">
       <div class="overlay">
           <div class="container">
               <div class="row">


<center>
	<form method="post">
		{% if data['pro'] %}
		<h1>VIEW PRODUCTS</h1>
		<table class="table" width="600px">
			<tr>
				<th>SL.NO</th>
				<th>PRODUCT</th>
				<TH>AMOUNT</TH>
				<th>QUANTITY</th>
			</tr>
			{% for row in data['pro'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{ row['product'] }}</td>
				<td>{{ row['amount'] }}</td>	
				<td>{{ row['bquantity'] }}</td>
				
			</tr>
			{% endfor%}
		</table>
		{% else %}
		<h1>NO PRODUCTS </h1>
		{% endif %}


	</form>
</center>
  </div>
           </div>
           <br><br><br><br><br><br><br><br><br>
       </div>  
      
   </section>
		   					
	
{% include 'footer.html' %}